QWidget {
    background-color: #182644;
    border: 1px solid #999999;
    border-radius: 5px;
}
QLabel {
    border: none;
    background-color: rgba(102, 102, 102, 0.25);
    border-radius: 3px;
    width: 50px;
    height: 30px;
    color: #999999;
    padding: 5px;
    text-align: center;
}
QPushButton {
    border: none;
    background-color: rgba(102, 102, 102, 0.25);
    border-radius: 3px;
    width: 50px;
    height: 30px;
    color: #999999;
}

QPushButton:hover {
    background-color: #666666;
}

QPushButton:pressed {
    background-color: #111111;
}
QLineEdit {
    border-radius: 3px;
    color: #999999;
    height: 30px;
}
#activeBtn {
    background-color: #111111;
}
#activeBtn:hover {
    background-color: #000000;
}
QGroupBox {
    color: #999999;
    padding-top: 10px;
}
QGroupBox::title {
    color: #999999;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
    border: 1px solid #999999;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}