QToolTip {
    background-color: #182644;
    border: 1px solid #56acee;
    color: #999999;
    border-radius: 3px;
}
QProgressBar {
    background-color: #111a2e;
    border: 1px solid #999999;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    color: transparent;
    height: 30px;
    border-bottom-color: #182644;
}
#menu #update {
    padding: 3px;
    background-color: #111a2e;
    border: 1px solid #475a85;
    border-radius: 5px;
    text-align: center;
    color: transparent;
    height: 30px;
}
QProgressBar::chunk {
    background-color: #182644;
    width: 3px;
    margin: 0.5px;
}
QLabel {
    border: none;
    background-color: rgba(102, 102, 102, 0.25);
    border-radius: 3px;
    color: #999999;
    padding: 5px;
    text-align: center;
}
#central_widget {
    background-color: #182644;
    border: none;
    border-radius: 5px;
}

#no_bg_widget {
    background: transparent;
}
#menu {
    background-color: rgb(24, 38, 68);
    border: 1px solid #999999;
    border-radius: 5px;
}
#no_bg_btn {
    border: none;
    background-color: none;
    border-radius: 3px;
}
#no_bg_btn:hover {
    background-color: rgba(102, 102, 102, 0.6);
}
#no_bg_btn:pressed {
    background-color: rgba(17, 17, 17, 0.6);
}
#notification {
    font-weight: bold;
    background-color: #182644;
    border: 1px solid #999999;
}
#success{
    color: #009f3b; 
    background-color: #00260E;
}
#error{
    color:red; 
    background-color:  #540612;
}
QPushButton {
    border: none;
    background-color: #182644;
    border-radius: 3px;
    color: #999999;
}

#menu #highrisk {
    font-weight: bold;
    color: red;
}
#menu QPushButton {
    border: none;
    border-radius: 3px;
    color: #999999;
    background-color: #23365e;
}
#menu QPushButton:disabled {
    text-decoration: line-through;
    background-color: #203155;
}
QPushButton:hover, #menu QPushButton:hover {
    background-color: #666666;
}
#menu #activeBtn {
    background-color: #111111;
}
#menu #activeBtn:hover {
    background-color: #000000;
}
QPushButton:pressed {
    background-color: #111111;
}
QScrollBar:vertical {
    width: 5px;
}
QGridLayout {
    background: transparent;
}
QScrollArea {
    background: transparent;
}
QScrollBar::handle::vertical {
    background: #56acee;
    border-radius: 5px;
    border: none;
}
QScrollBar::handle::vertical::pressed {
    background: #315E80;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: #111A2E;
}
QMenu {
    background-color: #182644;
    border: 1px solid #475a85;
    border-radius: 0;
}
QMenu::item:selected {
    background-color: rgba(102, 102, 102, 0.6);
}
QMenu::item:pressed {
    background-color: #111111;
}
QMenu::item {
    color: #999999;
}
QMenu::item:disabled{
    background: transparent;
}
QMenu::item:disabled:selected {
    background: transparent;
}
#qLoad_menu {
    background-color: #182644;
    border: 1px solid #475a85;
    border-radius: 0;
}
#qLoad_menu::item:selected {
    background-color: rgba(102, 102, 102, 0.6);
}
#qLoad_menu::item:pressed {
    background-color: #111111;
}
#qLoad_menu::item {
    color: #999999;
}
#qLoad_menu::item:disabled {
    margin: 3px;
}
#qLoad_menu::item:disabled:selected {
    background-color: transparent;
}
#style_menu {
    background-color: #182644;
    border: 1px solid #475a85;
    border-radius: 0;
}
#style_menu::item:selected {
    background-color: rgba(102, 102, 102, 0.6);
}
#style_menu::item:pressed {
    background-color: #111111;
}
#style_menu::item {
    color: #999999;
}
#style_menu::item:disabled {
    margin: 3px;
}
#style_menu::item:disabled:selected {
    background-color: transparent;
}
#style_menu::item:selected {
    background-color: rgba(102, 102, 102, 0.6);
}
#style_menu::item:pressed {
    background-color: #111111;
}
QLineEdit {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #999999;
    color: #999999;
    height: 30px;
    padding-left: 1px;
}
QGroupBox {
    color: #999999;
    padding-top: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
}
QGroupBox::title {
    color: #999999;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
    border: 1px solid #999999;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}