QToolTip {
    background-color: #182644;
    border: 1px solid #56acee;
    color: #999999;
    border-radius: 3px;
}
QWidget {
    background-color: #182644;
    border: none;
    border-radius: 3px;
}
QLabel {
    border: none;
    background-color: rgba(102, 102, 102, 0.25);
    border-radius: 3px;
    color: #999999;
    padding: 5px;
}
QPushButton {
    border: none;
    background-color: none;
    border-radius: 3px;
}

QPushButton:hover {
    background-color: #666666;
}

QPushButton:pressed {
    background-color: #111111;
}
QScrollBar:vertical {
    width: 5px;
}
QScrollBar::handle::vertical {
    background: #56acee;
    border-radius: 5px;
    border: none;
}
QScrollBar::handle::vertical::pressed {
    background: #315E80;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: #111A2E;
}
QMenu::item:selected {
    background-color: #666666;
}
QMenu::item:pressed {
    background-color: #111111;
}
QMenu::item {
    color: #999999;
}