/* The .css extension is only because it is recognized by most code editors so it makes it easier to edit it, but this is qss not css */
QToolTip {
    background-color: #182644;
    border: 1px solid #56acee;
    color: #999999;
    border-radius: 3px;
}
QWidget {
    background-color: #182644;
    border: 1px solid #475a85;
    border-radius: 5px;
}

QPushButton {
    border: none;
    /* background-color: rgba(102, 102, 102, 0.25); */
    border-radius: 3px;
    width: 50px;
    height: 30px;
    color: #999999;
    background-color: qlineargradient( x1:1 y1:1, x2:0 y2:0, stop:0 #355494, stop:1 transparent);
}
QPushButton:hover {
    background-color: #355494;
}

QPushButton:pressed {
    background-color: rgba(17, 17, 17, 0.6);
}