/* The .css extension is only because it is recognized by most code editors so it makes it easier to edit it, but this is qss not css */
QToolTip {
    background-color: #182644;
    border: 1px solid #56acee;
    color: #999999;
    border-radius: 3px;
}
QWidget {
    border: none;
    border-radius: 3px;
    background: qlineargradient( x1:0 y1:1, x2:1 y2:0, stop:0 #355494, stop:1 #182644);
}
QPushButton {
    border: none;
    background-color: none;
    border-radius: 3px;
}
QLabel {
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 30px;
    color: #999999;
    padding: 5px;
    background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgba(102, 102, 102, 0.25), stop:1 transparent)
}
#success{
    color: #009f3b; 
    background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 #00260E, stop:1 transparent);
}
#error{
    color:red; 
    background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 #540612, stop:1 transparent);
}
QPushButton:hover {
    background-color: rgba(102, 102, 102, 0.6);
}
QGridLayout {
    background: transparent;
}
QScrollArea {
    background: transparent;
}
QPushButton:pressed {
    background-color: rgba(17, 17, 17, 0.6);
}
QScrollBar:vertical {
    width: 5px;
}
QScrollBar::handle::vertical {
    background: #56acee;
    border-radius: 5px;
    border: none;
}
QScrollBar::handle::vertical::pressed {
    background: #315E80;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: #111A2E;
}
QMenu::item:selected {
    background-color: rgba(102, 102, 102, 0.6);
}
QMenu::item:pressed {
    background-color: #111111;
}
QMenu::item {
    color: #999999;
}
QMenu {
    background-color: #182644;
    border: 1px solid #475a85;
    border-radius: 5px;
}