/* The .css extension is only because it is recognized by most code editors so it makes it easier to edit it, but this is qss not css */
QWidget {
    background-color: #182644;
    border: 1px solid #475a85;
    border-radius: 5px;
}
QLabel {
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 30px;
    color: #999999;
    padding: 5px;
    background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgba(102, 102, 102, 0.25), stop:1 transparent)
}
QPushButton {
    border: none;
    /* background-color: rgba(102, 102, 102, 0.25); */
    border-radius: 3px;
    width: 50px;
    height: 30px;
    color: #999999;
    background-color: qlineargradient( x1:1 y1:1, x2:0 y2:0, stop:0 #355494, stop:1 transparent);
}

QPushButton:hover {
    background-color: #355494;
}

QPushButton:pressed {
    background-color: rgba(17, 17, 17, 0.6);
}
QLineEdit {
    border: 1px solid #475a85;
    border-top: none;
    border-left: none;
    border-radius: 3px;
    color: #999999;
    height: 30px;
    padding-left: 1px;
}
QLineEdit:focus {
    border: 1px solid #475a85;
    padding-left: 0;
}
#activeBtn {
    background-color: qlineargradient( x1:1 y1:1, x2:0 y2:0, stop:0 #111111, stop:1 transparent);
}
#activeBtn:hover {
    background-color: #111111;
}
QGroupBox {
    color: #999999;
    padding-top: 10px;
    border: 1px solid #475a85;
    border-radius: 5px;
    border-bottom: none;
    border-right: none;
}
QGroupBox::title {
    color: #999999;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
    border: 1px solid #475a85;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}